
<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs"); %>

<body>
    <style>
        body{
background-color: white;
}
    </style>
    <%- include("./partials/menu.ejs"); %>
<div class="container  align-items-center"></div>
    <h1> perra

    </h1>
    
        <button class="btn btn-success">hola mundo</button>
    </div>
    
    
</body>
</html>